<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Register</title>
    </head>
<body>
        <div style="background-color:#ffff00">
           <h1 style="text-align:center">Ticket Muster</h1>
        </div>
 <form action="register1" method="submit" align="center" >
    <div>
    <input size="60" align="center" autocomplete="off"autfocus="form-control mx-auto w-auto" name="user name" placeholder="username" type="text">
    </div>
    <div>
     <input size="60" autocomplete="off"autfocus="form-control mx-auto w-auto" name="Password" placeholder=" Password" type="password">
     <input size="60" autocomplete="off"autfocus="form-control mx-auto w-auto" name="Confirm_Password" placeholder=" Confirm password" type="password">
   </div>
    <button type="submit">sign up</button>
   </form>
</body>
</html>