<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Events
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item">
                    <image src="football.jpg" alt="football"width="240" height="240"/ >
                         <p>upcoming soccer events</p>

                </li>
                <li class="nav-item">
                    <image src="basketball.jpg" alt="basketball"width="240" height="240"  / >
                         <p>upcoming basketball events</p>
                </li>
            </ul>
</html>