<!DOCTYPE html>
<html lang="en">
    <head>
        <meta char-set="utf-8"/>
        <meta name="authors" content="initial-scale=1", width="device-width"/>
        <link href="/static/style.css" rel="stylesheet">
        <title>Ticket Muster</title>
        <style>
            label {
                width: 100px;
                display: inline-block;
            }
        </style>
    </head>
    <body class="seller_information" style="align-items: center" >
        <div style="background-color:#ffff00">

            <h1 style="text-align:center">Ticket Muster</h1>
        </div>
            <h2 style="text-align:center">register event!</h2>
            <form action="/newseller" align="center" method="POST">
                <div>
                <label class="details"> Host:</label>
                <input size="30" autocomplete="off"autfocus="form-control mx-auto w-auto" name="host" placeholder="host" type="text">
                </div>
                <div>
                <label clas="details">Venue:</label>
                <input size="30" autocomplete="off"autfocus="form-control mx-auto w-auto"name="venue" placeholder="place / town" type="text">
                </div>
                <div>
                <label class="details">Date and time:</label>
                <input size="30" autocomplete="off"autfocus="form-control mx-auto w-auto" name="date/time" placeholder="Date/time" type="int">
                </div>
                <div>
                <label class="detials" >Number of tickets for sell:</label>
                <input size="30" autocomplete="off"autfocus="form-control mx-auto w-auto" name="tickets_number" placeholder="number" type="int">
                </div>
                <div>
                <label class="details">Text:</label>
                <input size="30" autocomplete="off"autfocus="form-control mx-auto w-auto" name="text" placeholder="tiket information" type="text">
                </div>
                <div>
                <label class="detials">ticket information:</label>
                <input class="file-upload" type="file" name="file" onchange="readURL(this)" accept="image/*">
                </div>
                <div>
                <label class="detials">Phonenumber:</label>
                <input style="margin-right:12px" size="30" autocomplete="off"autfocus="form-control mx-auto w-auto" name="number" placeholder="Phone number" type="VARCHAR">
                </div>
                <div>
                    <button type="submit" style="background-color:#ffff00">register</button>
                </div>


            </form>

  </body>
</html>